$fontStyle: normal;

@mixin inter-medium($size, $weight) {
  font-family: inter;
  font-style: $fontStyle;
  font-size: $size + rem;
  font-weight: $weight;
}
.text-inter-15-400 {
  @include inter-medium(calc(39.844 / 16), 400);
  $lineHeight: calc(44 / 16) + rem;
}
.text-inter-20-400 {
  @include inter-medium(calc(20 / 16), 400);
  $lineHeight: calc(135 / 16) + rem;
}
.text-inter-14-400 {
  @include inter-medium(calc(14 / 16), 400);
  $lineHeight: calc(20 / 16) + rem;
}
.text-inter-14-500 {
  @include inter-medium(calc(14 / 16), 500);
  $lineHeight: calc(20 / 16) + rem;
}
.text-inter-24-700 {
  @include inter-medium(calc(24 / 16), 700);
  $lineHeight: calc(32 / 16) + rem;
}
