.badge-invest {
  background: linear-gradient(
    90deg,
    rgba(0, 163, 255, 0.2) 0%,
    rgba(255, 0, 0, 0.2) 100%
  ) !important;
}

.badge-bank {
  background: rgba(0, 163, 255, 0.1);
}
.btn-bank {
  background: rgba(0, 163, 255, 0.2);
}
$theme-name: "bg-simulator";
.#{$theme-name} {
  &-invest {
    background: linear-gradient(
      90deg,
      rgba(0, 163, 255, 0.2) 0%,
      rgba(255, 0, 0, 0.2) 100%
    ) !important;
  }
  &-color-bank {
    color: rgba(0, 163, 255, 0.1);
  }
  &-btn-bank {
    background: rgba(0, 163, 255, 0.2);
  }
  &-badge-bank {
    background: rgba(0, 163, 255, 0.1);
  }
}
