$theme-name: "bg-theme-7";
.#{$theme-name} {
  background-image: url(/system/background/7.jpg);
  @include backgroundTheme;
  &-invest {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(0, 255, 102, 0.2) 100%
    );
  }
  &-color-bank {
    color: rgba(67, 0, 208, 0.45);
  }
  &-btn-bank {
    background: rgba(67, 0, 208, 0.45);
  }
  &-badge-bank {
    background: linear-gradient(
      270deg,
      rgba(255, 255, 255, 0.1) -0.14%,
      rgba(36, 255, 0, 0.1) 99.86%
    );
  }
  &-navbar {
    border-radius: 8px;
    background: linear-gradient(
      90deg,
      rgba(112, 255, 0, 0.2) 0%,
      rgba(255, 255, 255, 0.2) 100%
    );
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.2);
  }
}
.text-bg-theme-7-color-bank {
  color: rgba(67, 0, 208, 0.45);
}
