@function rem($value) {
  @return unquote(($value/1px)/16+"rem");
}
$easeTime: 0.25s;
$margin-top: 56px;

$colors: (
  "mattBlackRed": "#e32636 !important",
  "mattBlackDark": "#BFB8AD !important",
  "mattBlackSoft": "#eadeda !important",
  "mattGray": "#084b83 !important",
  "mattCinereous": "#998888 !important",
  "mattBlack": "#47a51 !important",
  "mattRed": "#e32636 !important",
);

@each $colorName, $colorVlaue in $colors {
  .bg-#{$colorName} {
    background-color: #{$colorVlaue};
  }
  .text-#{$colorName} {
    color: #{$colorVlaue};
  }
}

body {
  @extend .text-mattBlack;
}
.wrapper {
  // margin-top: rem($margin-top);
  .sideMenu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    margin: rem($margin-top) auto auto;
    width: rem(200px);
    transition: all ease $easeTime;
    transform: translateX(-100%);
    z-index: 2000;
  }
  .content {
    width: 100%;
    margin-left: rem(0px);
    transition: all ease $easeTime;
  }
  &.active {
    .sideMenu {
      transform: translateX(0);
    }
  }
}
@media (min-width: 992px) {
  .wrapper {
    .sideMenu {
      transform: translateX(0);
    }
    .content {
      margin-left: rem(200px);
    }
    &.active {
      .sideMenu {
        width: rem(80px);
        .nav-link {
          text-align: center;
          .icon {
            margin-right: 0;
          }
          .text {
            display: none;
          }
        }
      }
      .content {
        margin-left: rem(80px);
      }
    }
  }
} /*!Verificando comentario  */
.nav-link {
  display: block;
  white-space: nowrap;
  .icon {
    margin-right: rem(4px);
    font-size: rem(30px);
    vertical-align: middle;
    width: rem(32px);
    height: rem(32px);
    @extend .text-mattGray;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  .text {
    font-size: rem(14px);
    @extend .text-mattGray;
  }
  &:hover,
  &.active {
    @extend .bg-mattBlackSoft;
    .icon,
    .text {
      @extend .text-mattRed;
    }
  }
}
