// app global css in SCSS form
@font-face {
  font-family: instokWeb;
  src: url(./IstokWeb-Regular.ttf);
}
@font-face {
  font-family: Lato;
  src: url(./Lato-Regular.ttf);
}
@font-face {
  font-family: inter;
  src: url(./Inter-Regular.ttf);
}
@font-face {
  font-family: Segoe;
  src: url(./fonts/Segoe/segoeuigis.ttf);
}
@font-face {
  font-family: Nunito;
  src: url(./fonts/Nunito/Nunito-VariableFont_wght.ttf);
}
@import "system.scss";
@import "themes-new.scss";
@import "_c-dropdown.scss";

.text-h8 {
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 102.945%;
  flex-shrink: 0;
}
.text-16 {
  font-size: 16px;
  line-height: 24px;
}
.text-header {
  font-size: 40px;
  line-height: 48px;
  max-width: 740px;
}
.heiding {
  font:
    32px/40px instokWeb,
    Arial,
    sans-serif;
}
body {
  overflow-x: hidden;
  font-family:
    "Roboto", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  // letter-spacing: 1px;
}
*::-webkit-scrollbar {
  width: 12px; /* largura da barra de rolagem inteira */
}

*::-webkit-scrollbar-track {
  background: #100000; /* cor da área de rastreamento */
}

*::-webkit-scrollbar-thumb {
  // background-color: #4694d1; /* cor do polegar de rolagem */
  background-color: #eee; /* cor do polegar de rolagem */
  border-radius: 20px; /* arredondamento do polegar de rolagem */
  border: 3px solid #100000; /* #100000 cria preenchimento em torno do polegar de rolagem #4694d1 */
}

.btn-bg {
  background-color: rgba(217, 217, 217, 0.3);
}
.text-h7 {
  font-weight: 400;
  font-size: 24px;
  line-height: 34.55px;
}
.text-700 {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}
.lato {
  font-family: Lato;
  font-weight: 300;
  font-size: 36px;
  line-height: 43.2px;
}
.f-inter {
  font-family: Inter;
  font-style: normal;
}

.input-standard {
  background-color: #d9d9d94d;
}

/* Manipulando DOM com JS */
.js-center {
  opacity: 0;
  transform: translate3d(0, 100px, 0);
  transition: 555ms;
}
.js-center-2 {
  opacity: 0;
  transform: translate3d(0, 20px, 0);
  transition: 555ms;
}
.js-right {
  opacity: 0;
  transform: translate3d(400px, 0, 0);
  transition: 555ms;
}
.js-left {
  opacity: 0;
  transform: translate3d(-500px, 0, 0);
  transition: 555ms;
}
.js-ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.text-method {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 102.945%;
}

.control-py {
  padding-block: 6rem;
}
.control-mb {
  margin-bottom: 4rem;
}
.control-mt {
  margin-top: 4rem;
}
.borderless {
  border: solid 1px #ffffffa1;
}

.container-p-i {
  padding-inline: 1.5rem;
}
.text-control {
  text-align: left;
}
.border-header {
  // margin-top: 2rem;
  /* border-bottom: solid 4px #ff0000; */
  border-bottom: solid 4px $primary;
}
.control-j-center {
  justify-content: center;
}
@media (max-width: 768px) {
  .padding-i-mobile {
    padding-inline: 0.5rem;
  }
  .control-j-center {
    justify-content: left;
  }
  .text-control {
    text-align: center;
  }
  .policy {
    display: block;
    text-align: center;
  }
}
.bg-who {
  background-image: url("https://strategyanalytics.com.br/img/landing-page/banner-home-quemsomos-E-2700.jpg");
  background-position-x: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.q-item.q-router-link--active,
.q-item--active {
  background: linear-gradient(
    202.99deg,
    rgba(255, 255, 255, 0.16) 0.52%,
    rgba(255, 255, 255, 0.04) 50%,
    rgba(255, 255, 255, 0.01) 99.48%
  );
  border-bottom: solid 2px rgba(0, 163, 255, 1);
  border-radius: 4px;
}
.btn-pattern-transparent {
  gap: 12px;
  padding-block: 8px;
  border-radius: 8px;
  border-width: 1px;
  background: linear-gradient(
    202.99deg,
    rgba(255, 255, 255, 0.16) 0.52%,
    rgba(255, 255, 255, 0.04) 50%,
    rgba(255, 255, 255, 0.01) 99.48%
  );
  border: 1px solid rgba(152, 152, 152, 0.16);
  backdrop-filter: blur(32px);
  box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.24);
}

.styleTool {
  background: linear-gradient(
    202.99deg,
    rgba(0, 0, 0, 0.24) 0.52%,
    rgba(0, 0, 0, 0.08) 51.12%,
    rgba(0, 0, 0, 0.04) 99.48%
  );
  border: 1px solid #efefef14;
  backdrop-filter: blur(32px);
  box-shadow: 4px 4px 12px 0px #0000003d;
  border-width: 1px;
  @extend .border-radius-pattern;
}
.tool {
  gap: 8px;
  opacity: 1;
  padding: 24px;
  @extend .styleTool;
}
.tool-padding {
  gap: 8px;
  opacity: 1;
  padding: 16px;
  @extend .styleTool;
}
.icon-tool {
  background: linear-gradient(
    202.99deg,
    rgba(255, 255, 255, 0.06) 0.52%,
    rgba(255, 255, 255, 0.01) 79.69%
  );
}
.badge-publicity {
  background: linear-gradient(
    202.99deg,
    rgba(255, 255, 255, 0.16) 0.52%,
    rgba(255, 255, 255, 0.04) 50%,
    rgba(255, 255, 255, 0.01) 99.48%
  );

  border-radius: 8px;
  gap: 12px;

  opacity: 1;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  border-top-width: 0.5px;
  border-right-width: 0.5px;
  border-bottom-width: 0.5px;
  border-left-width: 4px;
  border-width: 0.5px, 0.5px, 0.5px, 4px;

  border-style: solid;

  border-color: var(--Success-400, #74e239);
  box-shadow: 0px 0px 16px 4px #74e2391f;
}
.badge-lvl,
.badge-lvl-assets {
  width: 1760;
  height: 104;
  gap: 12px;
  opacity: 1;
  border-radius: 8px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  border-left-width: 2px;
  background: linear-gradient(
    202.99deg,
    rgba(255, 255, 255, 0.16) 0.52%,
    rgba(255, 255, 255, 0.04) 50%,
    rgba(255, 255, 255, 0.01) 99.48%
  );
  border-left: 2px solid var(--active, #00a3ff);
}
.propaganda-tool {
  gap: 24px;
  padding: 28px;
  background: linear-gradient(
    202.99deg,
    rgba(0, 163, 255, 0.64) 0.52%,
    rgba(0, 0, 0, 0.08) 40.21%,
    rgba(0, 163, 255, 0.12) 90.45%
  );
  border: 1px solid #efefef29;
  backdrop-filter: blur(32px);
  box-shadow: 4px 4px 12px 0px #0000003d;
  @extend .border-radius-pattern;
}

@media (min-width: 0) {
  .row > .col-2-2,
  .row > .col-xs-2-2 {
    height: auto;
    width: 22.6667%;
  }
}

.scrollable {
  max-height: 680px;
  overflow-y: auto;
}
.line-height-1 {
  line-height: 1px;
}

.border-button-group {
  border: 0.122px solid currentcolor;
}
.q-btn-group > .q-btn-item:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 8px;
}
.q-btn-group > .q-btn-item:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 8px;
}
.text-align {
  line-height: 14px;
}

@media (min-width: 0) {
  .row > .col-2-7,
  .row > .col-xs-2-7 {
    height: auto;
    width: 17.6667%;
  }
}

.q-badge-document {
  width: 191;
  height: 20;
  gap: 4px;
  opacity: 1;
  border-radius: 4px;
  border-width: 1px;
  padding-top: 2px;
  padding-right: 8px;
  padding-bottom: 2px;
  padding-left: 8px;
  background: linear-gradient(
    202.99deg,
    rgba(255, 255, 255, 0.16) 0.52%,
    rgba(255, 255, 255, 0.04) 50%,
    rgba(255, 255, 255, 0.01) 99.48%
  );
  border: 1px solid var(--Neutral-600, #656565);
}
.pr-5 {
  padding-left: 5px;
}
