// app global css in SCSS form
@import "_c-dropdown.scss";
@font-face {
  font-family: instokWeb;
  src: url(./IstokWeb-Regular.ttf);
}
@font-face {
  font-family: Lato;
  src: url(./Lato-Regular.ttf);
}
@font-face {
  font-family: inter;
  src: url(./Inter-Regular.ttf);
}
.transparant-bg {
  background: transparent !important;
}
.text-h8 {
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 102.945%;
  flex-shrink: 0;
}
.text-16 {
  font-size: 16px;
  line-height: 24px;
}
.text-header {
  font-size: 40px;
  line-height: 48px;
  max-width: 740px;
}
.heiding {
  font: 32px/40px instokWeb, Arial, sans-serif;
}
body {
  overflow-x: hidden;
  font-family: instokWeb;
  letter-spacing: 1px;
}
*::-webkit-scrollbar {
  width: 12px; /* largura da barra de rolagem inteira */
}

*::-webkit-scrollbar-track {
  background: #100000; /* cor da área de rastreamento */
}

*::-webkit-scrollbar-thumb {
  background-color: #4694d1; /* cor do polegar de rolagem */
  border-radius: 20px; /* arredondamento do polegar de rolagem */
  border: 3px solid #100000; /* #100000 cria preenchimento em torno do polegar de rolagem #4694d1 */
}
.bg-all {
  // background: radial-gradient(circle at 0%, #4694d1, #1a1e2d 35%, #4694d1),
  //   radial-gradient(circle at 100%, #4694d1, #1a1e2d, #4694d1);
  background: linear-gradient(
    294deg,
    #1a1e2d 0%,
    #1b1f2e 7%,
    #13476d 23%,
    #11517c 28%,
    #10517e 30%,
    #124e78 33%,
    #1a1e2d 53%,
    #1a1e2d 84%,
    #4e1723 100%
  );
}
.bg-simulator {
  background: linear-gradient(
    45deg,
    #124e78 0%,
    #124e78 5%,
    #1a1e2d 28%,
    #1a1e2d 30%,
    #1a1e2d 33%,
    #1a1e2d 53%,
    #4e1723 94%,
    #4e1723 100%
  );
  // background: radial-gradient(ellipse at right 2550%, #ff4242, transparent),
  //   radial-gradient(ellipse at top, #1a1e2d, transparent),
  //   radial-gradient(ellipse at bottom, #1a1e2d, transparent),
  //   radial-gradient(circle at 10%, #4694d1, transparent);
}

.bg-simulator-draw {
  background: radial-gradient(
      circle at top right,
      #1a1e2d,
      #1a1e2d 90%,
      #ff4242
    ),
    radial-gradient(circle at 100%, #ff4242, #1a1e2d, #ff4242);

  // background: radial-gradient(ellipse at right 2550%, #ff4242, transparent),
  //   radial-gradient(ellipse at top, #1a1e2d, transparent),
  //   radial-gradient(ellipse at bottom, #1a1e2d, transparent),
  //   radial-gradient(circle at 10%, #4694d1, transparent);
}
.bg-draw {
  background: radial-gradient(
      circle at top right,
      #1a1e2d,
      #1a1e2d 90%,
      #4694d1
    ),
    radial-gradient(circle at 100%, #4694d1, #1a1e2d, #4694d1);
}
.btn-bg {
  background-color: rgba(217, 217, 217, 0.3);
}
.text-h7 {
  font-weight: 400;
  font-size: 24px;
  line-height: 34.55px;
}
.text-700 {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}
.lato {
  font-family: Lato;
  font-weight: 300;
  font-size: 36px;
  line-height: 43.2px;
}
.f-inter {
  font-family: Inter;
  font-style: normal;
}

.q-field__native,
.q-field__prefix,
.q-field__suffix,
.q-field__input {
  color: white !important;
  margin-left: 0.5rem !important;
}
.input-standard {
  background-color: #d9d9d94d;
}

/* Manipulando DOM com JS */
.js-center {
  opacity: 0;
  transform: translate3d(0, 100px, 0);
  transition: 555ms;
}
.js-center-2 {
  opacity: 0;
  transform: translate3d(0, 20px, 0);
  transition: 555ms;
}
.js-right {
  opacity: 0;
  transform: translate3d(400px, 0, 0);
  transition: 555ms;
}
.js-left {
  opacity: 0;
  transform: translate3d(-500px, 0, 0);
  transition: 555ms;
}
.js-ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.text-method {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 102.945%;
}
.q-field__label,
no-pointer-events,
absolute,
ellipsis {
  color: #fff;
}
.control-py {
  padding-block: 6rem;
}
.control-mb {
  margin-bottom: 4rem;
}
.control-mt {
  margin-top: 4rem;
}
.borderless {
  border: solid 1px #ffffffa1;
}

.container-p-i {
  padding-inline: 1.5rem;
}
.text-control {
  text-align: left;
}
.border-header {
  // margin-top: 2rem;
  /* border-bottom: solid 4px #ff0000; */
  border-bottom: solid 4px $primary;
}
.control-j-center {
  justify-content: center;
}
@media (max-width: 768px) {
  .padding-i-mobile {
    padding-inline: 0.5rem;
  }
  .control-j-center {
    justify-content: left;
  }
  .text-control {
    text-align: center;
  }
  .policy {
    display: block;
    text-align: center;
  }
}
.border-btn {
  border: solid 1px $primary;
}
.bg-system {
  background: #d9d9d9 !important;
}
.bg-system-dark {
  background: #000 !important;
}
