.q-field--item-aligned {
  padding: 0.45rem 0px !important;
}
.text-muted-register {
  color: #a5a5a5;
  font-family: Segoe;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 17.6px;
}
.forgot {
  cursor: pointer;
  transition: all 5s;
  text-decoration: underline;
  font-family: Segoe;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 19.6px;
}
.text-label {
  font-family: Segoe;
  font-size: 0.85rem;
  font-style: normal;
  font-weight: 600;
  line-height: 19.6px;
}
